<div class="app-name">
  <span>T</span>
  <span>r</span>
  <span>a</span>
  <span>n</span>
  <span>s</span>
  <span>a</span>
  <span>c</span>
  <span>t</span>
  <span>i</span>
  <span>o</span>
  <span>n</span>
  <span>&nbsp;</span>
  <span>T</span>
  <span>r</span>
  <span>o</span>
  <span>v</span>
  <span>e</span>
</div>
<div class="splash-bg shadow-1-strong rounded d-flex flex-column justify-content-center align-items-center">
  <div class="sign_in_container text-center">
    <%= link_to 'LOG IN', new_user_session_path, class: "btn btn-primary mb-4 py-3" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "btn btn-secondary mb-2 py-3" %>
  </div>
</div>
