/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ProximaNova', sans-serif;
}

/* Splash Screen Design */

.app-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
}

.app-name span {
  display: inline-block;
  font-family: 'Bruno Ace SC';
  font-size: 5rem;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: calc(0.2s * var(--index));
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.splash-bg {
  min-width: 100%;
  height: 100%;
}

.sign_in_container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 90%;
}

/* Categories Page */

.categories-container {
  min-height: 100%;
  width: 50%;
  position: relative;
}

.category-cards {
  height: 79vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// Hide scroll bar for Chrome and Safari

.category-cards::-webkit-scrollbar {
  display: none;
}

.category-card {
  display: flex;
  padding: 5px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: bolder;
  color: rgb(156, 154, 154);
}

.category-icon {
  height: 60px;
  width: 60px;
}

.category-date {
  font-size: 1rem;
  color: rgb(156, 154, 154);
}

.category-total {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

/* Transactions Page */

.expenses-main-container {
  height: 63vh;
  overflow-y: scroll;
  background-color: whitesmoke;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// Hide scroll bar for Chrome and Safari

.expenses-main-container::-webkit-scrollbar {
display: none;
}

.expenses-container {
  width: 100%;
  margin-top: 1rem;
  height: 80px;

  .expenses-detail {
    font-size: 1rem;
    font-weight: 200;
  }

  .expenses-body {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-align: start;
    padding-left: 20px;
  }

  .expenses-amount {
    font-size: 1rem;
    font-weight: 500;
  }
}

/* Navbar Design */

.mobile-header {
  background-color: #3778c2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;

  .header-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .back-button {
    i {
      color: white;
      font-size: 1.2rem;
    }
  }
}

/* Add Buttons Design  */

.btn-add {
  min-width: 100%;
  padding: 20px 0;
  background-color: #5fb523;
  color: white !important;

  span {
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px 85px;
  }

  &:hover {
    background-color: #7fb956;
  }
}

/* Forms Design */

.form {
  width: 100%;
}